#p1{
    color: black;
    background-color: blanchedalmond;
}
#p2{
    font-family: 'Courier New', Courier, monospace;
    color: aqua;
}
h1{
    background-color: black;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}